.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/linux_amd64/terraform-provider-azurerm_v4.21.1_x5 filter=lfs diff=lfs merge=lfs -text
*.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/linux_amd64/terraform-provider-azurerm_v4.21.1_x5 filter=lfs diff=lfs merge=lfs -text
